html, body {
  margin: 0;
  padding: 0;
}

canvas {
  background-color: blue;
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#turn {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
